div.user-list__wrapper {
    padding: 12px 18px;
    border: 1px solid #e8e8e8;
    position: relative;
    margin-bottom: 8px;
    background: #fdfdfd;
    cursor: pointer;
}

div.user-item__name a {
    color: #444;
    font-weight: 600;
}

div.user-item__name a:hover {
    color: #0883f5;
}

span.user-item__location {
    color: #b7b7b7;
    font-size: 12px;
    margin-left: 8px;
}

div.user-item__pic {
    position: absolute;
    right: 24px;
    top: 12px;
}
