div.app-container {
    color: #444;
}

ul.users-list {
    margin-top: 14px;
}

h3.list-header {
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 15px 10px;
    font-weight: bold;
    margin: 0;
}

div.user-list {
    position: relative;
}

li.empty-results {
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,.45);
}

div.container-loading {
    text-align: center;
    padding: 30px 50px;
}

.ant-modal-header {
    background: #efefef;
}

.ant-modal-footer {
    background: #efefef;
}
