div.app-container {
    color: #222;
    padding: 20px 15px;
}

ul.users-list {
    margin-top: 14px;
}

h3.list-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    font-weight: bold;
}

div.user-list {
    position: relative;
}
