div.user-details__wrapper {
    padding: 8px;
}

.user-contact__name {
    color: #444;
    font-weight: 600;
    margin-top: 8px;
}
.user-contact__phone {
    color: #6ad038;
    font-weight: 600;
}

.user-contact__info {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 13px;
}

.user-info__label {
    text-align: right;
    padding-right: 22px;
    color: #828282;
    font-weight: bold;
}

.user-info__value {
    color: #b7b7b7;
}

.user-info__wrapper {
    margin: 20px 0;
}

