* {
  box-sizing: border-box;
}

.App-header {
  background-color: #444;
  height: 48px;
  color: white;
}

.App-title {
  font-size: 1.4em;
  padding: 8px 14px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}
